# dependencies
node_modules/
*package.json
*package-lock.json


# env
.env
.env.*
!.env.example

# build output
dist/
build/

# logs
*.log
npm-debug.log*

# editor / OS
.DS_Store
.vscode/

.next/
next-env.d.ts
next.config.mjs
postcss.config.mjs
tsconfig.json
tsconfig.tsbuildinfo
*.pem